* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    line-height: 1.6;
    background: #F2F2F2;
}

a {
    text-decoration: none;
}

a:hover { 
    text-decoration:none; 
    cursor:pointer;  
}

.main-part {
    margin: 0 auto;
    width: 1046px;
    padding-bottom: 245px;
}

.mt-70 {
    margin-top: 70px;
}

.mt-100 {
    margin-top: 100px;
}

.post {
    overflow: hidden;
    background: #FFFFFF;
    border-radius: 12px;
}

.info {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 30px;
    padding: 22px;
}

.info .my-photo {
    width: 300px;
}

.my-photo img {
    border-radius: 12px;
    width: 100%;
}

.my-info .top {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.left .name {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: #4F4F4F;
}

.left .job {
    font-family: "Montserrat";
    font-weight: 500;
    color: #828282;
    font-size: 18px;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
  }

.right .box {
    width: 300px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #4F4F4F;
}

.text-right {
    margin-right: 0;
    margin-left: auto;
}

.box .email {
    display: grid;
    grid-template-columns: 30px auto;
    grid-gap: 5px;
}

.box .phone {
    display: grid;
    grid-template-columns: 30px auto;
    grid-gap: 5px;
}

.bottom {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #828282;
    padding-top: 37px;
}

.profile {
    width: 395px;
    padding: 22px;
}

.profile .my-photo {
    margin: 0 auto;
    width: 351px;
}

.pt-20 {
    padding-top: 20px;
}

.blog {
    display: grid;
    grid-template-columns: auto auto;
    padding: 22px;
    grid-gap: 40px;
}

.blog .my-photo {
    height: 267px;
    width: 384px;
}

.blog .my-photo img {
    height: 100%;
}

.blog-info .tech {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #4F4F4F;
    word-spacing: 9px;
}

.blog-info .title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    padding: 20px 0;
    color: #333333;
}

.blog-info .body {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    padding: 20px 0;
    color: #828282;
}

.blog-info .buttons {
    padding-top: 40px;
    display: grid;
    grid-template-columns: 135px 135px;
    grid-gap: 11px;
}

.blog-info .button {
    width: 100%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-transform: capitalize;
}

.button .demo {
    width: 135px;
    color: white;
    background: #2F80ED;
    border-radius: 12px;
    color: #FFFFFF;
    padding: 10px 40px;
}

.button .code {
    width: 135px;
    color: #2F80ED;
    padding: 10px 40px;
    border: 1px solid #2F80ED;
    border-radius: 12px;    
}

.blog-box {
    padding: 22px;
    width: 395px;
}

.blog-box .my-photo {
    width: 351px;
    height: 251px;
}
.blog-box .my-photo img {
    height: 100%;
}

.blog-box .tech {
    padding-top: 22px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #4F4F4F;
    word-spacing: 9px;
}

.blog-box .title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    padding: 20px 0;
    color: #333333;
}

.blog-box .body {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    padding: 20px 0;
    color: #828282;
}

.blog-box .buttons {
    padding-top: 40px;
    display: grid;
    grid-template-columns: 135px 135px;
    grid-gap: 11px;
}

.blog-box .button {
    width: 100%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-transform: capitalize;
}

.bar-box {
    padding: 22px;
}

.bar-box .title {
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #4F4F4F;
    padding-bottom: 16px;
}

.bar-box .bars {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 53px;
    grid-row-gap: 16px;
}

.bar-box .part {
    display: grid;
    grid-template-columns: 104px 348px;
}

.part .name {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #4F4F4F;
}

.bar-box .bars .bar {
    height: 9px;
    background-color: #C4C4C4;
    border-radius: 12px;
}

.blue-bar {
    background-color: #2F80ED;
    height: 9px;
    border-radius: 12px;
}

.bar-post {
    padding: 22px;
    width: 389px;
}

.bar-post .title {
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #4F4F4F;
    padding-bottom: 16px;
}

.bar-post .bars {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 53px;
    grid-row-gap: 16px;
}

.bar-post .part {
    display: grid;
    grid-column-gap: 19px;
    grid-template-columns: 104px 222px;
}

.bar-post .bars .bar {
    height: 9px;
    background-color: #C4C4C4;
    border-radius: 12px;
}

.article {
    padding: 22px;
}

.article .body {
    display: grid;
    grid-template-columns: 548px 548px;
}

.article .my-photo {
    width: 548px;
    height: 380.2px;
}

.article img {
    height: 100%;
}

.article .abstract {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #E0E0E0;
}

.article .title {
    max-width: 178px;
    padding-top: 30px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #333333;
}

.article .description {
    padding-top: 26px;
    max-width: 465px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #828282;
}

.article .bottom {
    padding-top: 61px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #2F80ED;
}

.article-box {
    padding: 22px;
    max-width: 536px;
}


.article-box .my-photo {
    padding-top: 25px;
    width: 483px;
    height: 337px;
}

.article-box img {
    height: 100%;
}

.article-box .abstract {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #E0E0E0;
}

.article-box .title {
    max-width: 178px;
    padding-top: 30px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #333333;
}

.article-box .description {
    padding-top: 50px;
    max-width: 465px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #828282;
}

.article-box .bottom {
    padding-top: 61px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #2F80ED;
}

.article-box .left {
    display: grid;
    grid-template-columns: 237px 237px;
}

.experience {
    padding: 22px;
}

.experience .title {
    text-transform: capitalize;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #4F4F4F;
}

.experience .companies {
    padding-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.experience .company {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 100px 1fr;
}

.area-84 {
    width: 100px;
    height: 84px;
}

.area-84 img {
    width: 100%;
    height: 100%;
}

.experience .date {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #828282;
}

.experience .role {
    padding-top: 12px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #333333;
}

.experience .description {
    max-width: 168px;
    padding-top: 33px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #828282;
}

.experience-post {
    padding: 22px;
    width: 417px;
}


.experience-post .title {
    text-transform: capitalize;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #4F4F4F;
}

.experience-post .companies {
    padding-top: 44px;
    display: grid;
    grid-gap: 36px;
}

.experience-post .company {
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-gap: 10px;
}

.area-84 {
    width: 84px;
    height: 84px;
}

.area-100 {
    width: 100px;
    height: 84px;
}

.area-84 img {
    width: 100%;
    height: 100%;
}

.area-100 img {
    width: 100%;
    height: 100%;
}

.experience-post .date {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #828282;
}

.experience-post .role {
    padding-top: 12px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #333333;
}

.experience-post .description {
    max-width: 273px;
    padding-top: 33px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #828282;
}

.hobbies {
    padding: 22px;
}

.hobbies .title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #4F4F4F;
}

.hobbies .my-photo {
    height: 139px;
    width: 295px;
}

.hobbies .my-photo img {
    height: 100%;
    width: 100%;
}

.hobbies .activities {
    padding-top: 26px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 59px;
}

.hobbies .name {
    padding-top: 26px;
    text-transform: capitalize;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #333333;
}

.hobbies .description {
    max-width: 253px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #828282;
}


.hobbies-post {
    padding: 22px;
    width: 427px;
}

.hobbies-post .title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #4F4F4F;
}

.hobbies-post .my-photo {
    height: 139px;
    width: 383px;
}

.hobbies-post .my-photo img {
    height: 100%;
    width: 100%;
}

.hobbies-post .activities {
    padding-top: 26px;
    display: grid;
    grid-gap: 59px;
}

.hobbies-post .name {
    padding-top: 26px;
    text-transform: capitalize;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #333333;
}

.hobbies-post .description {
    max-width: 253px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #828282;
}


